.back{
  background-image:url("https://github.com/MichaelTowler/MichaelTowler.github.io/blob/master/Broadway/resources/the-flatiron-building.png?raw=true");
  background-position:top;
  text-align:center;
  background-position: 0px 54px;
  background-repeat: no-repeat;
}
.back2{
  background-image:url("https://github.com/MichaelTowler/MichaelTowler.github.io/blob/master/Broadway/resources/the-flatiron-building.png?raw=true");
  background-position:top;
}
.a{
  background-color:dimgray;
  position:center;
}
h1{
  font-family:helvetica;
  font-size:70px;
  font-weight:bold;
  color:white;
}
a{
  font-family:helvetica;
  font-size:18px;
  color:white;
  font-weight:bold;
  position:bottom;
}
h2{
  font-family:helvetica;
  font-size:32px;
  font-weight:bold;
}
h3{
  font-family:helvetica;
  font-size:23px
  font-weight:bold;
}
h4{
  font-family:helvetica;
  font-size:23px;
  font-weight:bold;
  color:white;
}
h5{
  font-family:helvetica;
  font-size:11px;
  color:white;
  background-color:dimgray;
  background-position: center;
  text-align:left;
}
p{
  font-family:helvetica;
  font-size:14px;
}
