.back{
  background-image:url("/Users/michaeltowler/Desktop/MichaelTowler.github.io/Broadway/resources/the-flatiron-building.png");
  background-repeat:no-repeat;
  background-position: top;
  text-align:center;
}
h1{
  color:white;
  font-family:Helvetica;
  font-weight:bold;
  font-size:70px;
}
a{
  font-family:Helvetica;
  font-size:18px;
  color:white;
}
