.back{
  background-image:url("https://github.com/MichaelTowler/MichaelTowler.github.io/blob/master/Broadway/resources/the-flatiron-building.png?raw=true");
  background-repeat:no-repeat;
  background-position:top;
  text-align:center;
}
h1{
  font-family:helvetica;
  font-size:70px;
  font-weight:bold;
  color:white;
}
a{
  font-family:helvetica;
  font-size:18px;
  color:white;
}
