.back{
  background-color:black;
  text-align:center;
}
a{
  color:aquamarine;
  font-size:16px
}
h1{
  font-family:verdana;
  font-weight:normal;
  font-size:50px;
  color:white;
}
h2{
  font-family:verdana;
  font-weight:300;
  font-size:40px;
  color:white;
}
p{
  font-family:verdana;
  font-size:21px;
  color:gray;
}
